# See https://atom.io/docs/latest/creating-a-package#menus for more details
'context-menu':
  'atom-workspace': [
    label: 'Line Count' 
    command: 'line-count:open'
  ]
  
menu: [
    label: 'Packages'
    submenu: [
      label: 'Line Count'
      command: 'line-count:open'
    ]
]
