%ul.breadcrumb
  %li.home
    %span
      %i.icon-home

  %li.blue
    %span Admin

  %li.active.blue
    %span Admin

  %li.active
    %span Admin

  %li
    %span Admin

  %li.blue
    %span Blue

  %li.green
    %span Green

  %li.yellow
    %span Yellow

  %li.red
    %span Red

  %li
    %span Styles
