
.pure-g
  - %w(pure-u-1-4 pure-u-1-2 pure-u-1-4).each do |cls|
    %div{class: cls}
      .card
        .front
          Front Content
        .back
          Back Content

.pure-g
  - %w(pure-u-1-2 pure-u-1-2).each do |cls|
    %div{class: cls}
      .card
        .front
          Front Content

.pure-g
  - %w(pure-u-1-3 pure-u-1-3 pure-u-1-3).each do |cls|
    %div{class: cls}
      .card
        .front
          Front Content
        .back
          Back Content
