%ul.pills
  %li
    %span Pill

  %li.blue
    %span Blue

  %li.green
    %span Green

  %li.yellow
    %span Yellow

  %li.red
    %span Red

  %li
    %span Pill

  %li
    %span Pill

  %li
    %span Pill
